    JNIEXPORT ${jniType} JNICALL ${mangledFuncName}(JNIEnv* env, jclass clazz${jniParams})
    {
${resultDeclaration}
${nullcheck}

${paramInMapping}

        try {
            // OUTPUT MAPPING
${resultOutMapping}
            goto cleanup;
        } catch (const std::exception &e) {
            jthrowable jexception = jnibridge::internal::handleException(env, e);
            env->Throw(jexception);
            goto cleanup;
        }
        cleanup:
${cleanup}
${returnCall}
    }