    inline std::unique_ptr<${cType}>
    jlong_to_unique_${cTypeUnderscore}(JNIEnv *env, jnibridge::internal::BaseHandle *handle)
    {
        if (!handle || ((jlong) handle) == -1) { return nullptr; }
${handleToInstance}
        return nullptr;
    }