    inline std::string
    ${cTypeUnderscore}_to_jPath(${cType} *instance)
    {
        if (!instance || ((jlong) instance) == -1) { return nullptr; }
${instanceToJFullPath}
    }

    inline ${cType}*
    jlong_to_${cTypeUnderscore}(JNIEnv *env, jnibridge::internal::BaseHandle *handle)
    {
        if (!handle || ((jlong) handle) == -1) { return nullptr; }
${handleToInstance}
    }
