    JNIEXPORT ${jniType} JNICALL ${mangledClasspath}_${mangledFuncName}(JNIEnv* env, jclass clazz${jniParams})
    {
        // input mappings...
${paramInMapping}
        // output mappings...
${resultOutMapping}
    }